body {
  background-color: #0A140E;
  color: #818E91;
}


#content {
  background-color: #08180F;
}

h1, h2, h3, h4, h5, h6 {
  color:  #818E91;
}

a {
  color: #A52A2A;
}

a:hover {
  color: #671717;
}

th, td {
  border: solid #26513A;
  background-color: #1C3B2A;
}

th {
  background-color: #2C4739;
}

#theme-toggle-container {
  background-color: #818E91;
}

#theme-toggle-slider {
  background-color: #08180F;
}
