body {
  background-color: #F3E2D2;
  color: #231D1A;
}

h1, h2, h3, h4, h5, h6 {
  color: #3B2A22;
}

a {
  color: #A52A2A;
}

a:hover {
  color: #671717;
}

th, td {
  border: solid #9E7A5D;
  background-color: #C09C7D;
}

th {
  background-color: #D0A076;
}
